body {  
    background-color: gray;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: black;
    line-height: 1.6;
    font-size: 16px;
    margin: 20px;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}